source https://www.nuget.org/api/v2/

nuget FAKE 4.4.6 framework: >= net46
nuget FSharp.Core 3.1.2.5 framework: >= net46
nuget MathNet.Numerics 3.8.0 framework: >= net46
nuget MathNet.Numerics.FSharp 3.8.0 framework: >= net46